<html lang="en">
<head>
    <title th:text="${@environment.getProperty('spring.application.name')}"></title>
    <style>
        body {
            font-family: sans-serif;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }
    </style>
</head>

<body>
<h1 th:text="${@environment.getProperty('spring.application.name')}"></h1>

<a th:href="${@environment.getProperty('write-end')}">Write Front</a>

<table>
    <tr>
        <th>Id</th>
        <th>Label</th>
        <th>Color</th>
    </tr>
    <tr th:each="stock: ${stockList}">
        <td th:text="${stock.id}"></td>
        <td th:text="${stock.label}"></td>
        <td th:text="${stock.color}"></td>
    </tr>
</table>

<a th:href="@{/logout}">Logout</a>
</body>
</html>